img {
  margin:auto;
  border-style: double;
  border-color:red;
  display: block;
  vertical-align: center;
  width: 50%;
  height: 250px;
  width: 190px;
}
Body{
  border-style: ridge;
  border-color: red;
  border-width: thick;
  background: #fff url(https://media.wired.com/photos/59268c5eaf95806129f4fd26/master/w_1280,c_limit/SPoW_001.jpg) no-repeat bottom right;
  padding: 20px
}
h1{
  text-align: center;
  color:white;
  border-width:medium;
  border-color:red;
}
div#facts {
text-align: center;

}
h2{
  color:lightseagreen;
  text-align: center;
}
  text-align: center;
  color:white;
}
h3{
  color:white;
}
nav{
background-color: grey;
padding-right: 500p
display:inline;
list-style: none;
width: 10%;
}
li {
  display:;
  list-style: none;
  list-style-type: none;
}
#content{
  text-align: center;
  color:red;
}
#content li{
  text-align: center;
  padding: 30px;
  border-style:outset;
  border-width: medium;
  border-color: Red;
  background-color:#000066
}
iframe{
  margin:auto;
  border-style: ridge;
  border-width:thick;
  border-color:red;
  display: block;
  vertical-align: center;
}
#greeting{
  text-align:center;
  color:#000066
}
#everything{
  padding-left: 500px
}
#contact li {
  display:inline-block;
}
#contact-list{
  font-size: 50px
}
