img {
  margin:auto;
  border-style: double;
  border-color:red;
  display: block;
  vertical-align: center;
  width: 50%;
  height: 250px;
  width: 190px;
}
Body{
  border-style: ridge;
  border-color: red;
  border-width: thick;
  background: #fff url(https://images.pexels.com/photos/813269/pexels-photo-813269.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgbhttps://images.pexels.com/photos/813269/pexels-photo-813269.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb) no-repeat bottom right;
}
h1{
  text-align: center;
  color:white;
  border-width:medium;
  border-color:red;
}
div#facts {
text-align: center;

}
h2{
  color:lightseagreen;
  text-align: center;
}
  text-align: center;
  color:white;
}
h3{
  color:white;
}
nav{
  color: lightseagreen;
}
li {
  display: inline-block;
  list-style: none;
  list-style-type: none;
}
#content{
  text-align: center;
  color:red;
}
#content li{
  text-align: center;
  padding: 30px;
  border-style:outset;
  border-width: medium;
  border-color: Red;
  background-color:#000066
}
iframe{
  margin:auto;
  border-style: ridge;
  border-width:thick;
  border-color:red;
  display: block;
  vertical-align: center;
}
#greeting{
  text-align:center;
  color:#000066
}
